{% extends "ads_app/base.html" %}
{% block content%}
    <script>


        $(function() {
            $(".sprint_button").click(function(event) {
                var modal1 = document.getElementById("sprint_modal");
                modal1.style.display = "block";
                var selected = document.getElementById("submit_sprint");
                selected.value = $(this)[0].value;
                console.log
            });
        });

        $(function() {
            $(".close").click(function(event) {
                var modal1 = document.getElementById("sprint_modal");
                modal1.style.display = "none";
            });
        });

        $(function() {
            $(".button").click(function(event) {
                // Stop form from submitting normally
                event.preventDefault();
                var help_modal = document.getElementById("LoadingModal");
                var submit_update = $(this);
                selected = submit_update[0].value;
                if (selected == ""){
                    alert(submit_update[0].value)
                    document.getElementById("Error").hidden = false;
                    document.getElementById("Error").value = event;
                }
                else{
                    // Un-hide the Loading div
                    document.getElementById("loading").hidden = false;

                    // Disable Links and Submit button
                    $("a#test").addClass('isDisabled');
                    $("a#home").addClass('isDisabled');
                    $("a#update").addClass('isDisabled');
                    $("a#admin").addClass('isDisabled');
                    document.getElementsByClassName("button")[0].disabled = true;
                    document.getElementById("selected").value = selected;
                    // Submit Form
                    help_modal.style.display = "block";
                    document.forms['submit_agile_update'].submit();
                }
            });
        });

        $(document).ready(function () {
            //this will remove the active class from
            //previously active menu item
            $(".navbar a").removeClass("active");
            $("a#agile_update").addClass('active');
        });

        function filter_text(config) {
            // Filters the table rows as the user types
            var input, filter, table, tr, td, i;
            if (config == "agile"){
                input = document.getElementById("id_Agile_Name");
                filter = input.value.toUpperCase();
                table = document.getElementById("main-agile-table-body");
            }
            else if (config == "waterfall"){
                input = document.getElementById("id_Waterfall_Name");
                filter = input.value.toUpperCase();
                table = document.getElementById("main-waterfall-table-body");
            }
            tr = table.getElementsByTagName("tr");
            for (item in tr) {
                // Hides the row initially.
                tr[item].style.display = "none";
                cell = tr[item].getElementsByTagName("td")[0];
                if (cell) {
                    if (cell.innerHTML.toUpperCase().includes(filter)){
                        tr[item].style.display = "";
                    }
                }
            }
        }

    </script>

<h1>Agile Test Plans</h1>
<h4>Select the Test Plan row you wish to update and click the Add Sprint button</h4>
<p>
    <label for="id_Agile_Name">Search for an agile test plan:</label>
    <input type="text" name="Agile_Name" required="" onkeyup="filter_text('agile')" id="id_Agile_Name" placeholder="Begin typing a name..." maxlength="250">
</p>
<div id="table-wrapper">
    <div id="test-plan-table-scroll">
        <table id="table" class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 32%">
                <col style="width: 10%">
                <col style="width: 20%">
                <col style="width: 18%">
                <col style="width: 20%">
            </colgroup>
            <thead>
            <tr>
                <th>Project</th>
                <th class="url_label">URL</th>
                <th>Last Updated</th>
                <th>Current Sprint</th>
                <th>Update Sprint</th>
            </tr>
            </thead>
            <tbody id="main-agile-table-body">
            {% for config in agile %}
                <tr>
                    <td>{{ config.test_plan }}</td>
                    <td class="link_symbol"><a target="_blank" rel="noopener noreferrer" href="https://dev.azure.com/itron/RnD/_testPlans/execute?planId={{ config.test_plan_id }}">&#x1f517</a></td>
                    <td>{{ config.lastUpdate }}</td>
                    <td>{{ config.current_sprint }}</td>
                    <td><button class="sprint_button" id="sprint_button" value="{{ config.sprints_suite }}">Add Sprint</button></td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<h1>Waterfall Test Plans</h1>
<p>
    <label for="id_Waterfall_Name">Search for a waterfall test plan:</label>
    <input type="text" name="Waterfall_Name" required="" onkeyup="filter_text('waterfall')" id="id_Waterfall_Name" placeholder="Begin typing a name..." maxlength="250">
</p>
<div id="table-wrapper">
    <div id="test-plan-table-scroll">
        <table id="table" class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 32%">
                <col style="width: 10%">
                <col style="width: 20%">
                <col style="width: 18%">
                <col style="width: 20%">
            </colgroup>
            <thead>
            <tr>
                <th>Project</th>
                <th class="url_label">URL</th>
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody id="main-waterfall-table-body">
            {% for config in waterfall %}
                <tr>
                    <td>{{ config.test_plan }}</td>
                    <td class="link_symbol"><a target="_blank" rel="noopener noreferrer" href="https://dev.azure.com/itron/RnD/_testPlans/execute?planId={{ config.test_plan_id }}">&#x1f517</a></td>
                    <td>{{ config.lastUpdate }}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div id="Error" hidden class="validation-summary-errors">
    <p>Please select a Dashboard</p>
</div>
<div id="sprint_modal" class="modal" style="display: none;">
    <!-- Modal content -->
    <div class="sprint-modal-content help-paragraph">
        <span class="close">x</span>
        <p>Select the child suites you would like to add to your new sprint:</p>
        <div id="child_options">
            <form action="submit_agile_update" method="POST" id="submit_agile_update">
                <ul type="disc">
                    <li>
                        <label>New Feature</label>
                        <input type="checkbox" name="new_feature" checked="checked">
                    </li>
                    <li>
                        <label>Manual Regression</label>
                        <input type="checkbox" name="manual_regression" checked="checked">
                    </li>
                    <li>
                        <label>Automated Regression</label>
                        <input type="checkbox" name="automated_regression" checked="checked">
                    </li>
                    <li>
                        <label>Meter Farm</label>
                        <input type="checkbox" name="meter_farm" checked="checked">
                    </li>
                    <li>
                        <label>Garden</label>
                        <input type="checkbox" name="garden" checked="checked">
                    </li>
                    <li>
                        <label>SVE</label>
                        <input type="checkbox" name="sve" checked="checked">
                    </li>
                </ul>
                {% csrf_token %}
                <input type="hidden" name="selected" id="selected" value="">
                <button type="submit" class="button" id="submit_sprint" >Add Sprint</button>
            </form>
        </div>
    </div>
</div>
<div id="LoadingModal" class="modal" style="">
    <div class="loading-modal-content">
        <div id="loading" hidden>
            <h1>Please wait...</h1>
            <br>
            <div class="loader"></div>
            <br>
            <p>Do not refresh the page. This process may take a few minutes.</p>
        </div>
    </div>
</div>
<div id="myModal" class="modal" style="display: none;">
    <!-- Modal content -->
    <div class="help-modal-content help-paragraph">
        <span class="close">x</span>
        <h1>Update Agile Test Plan</h1>
        <p>Use this page to append new sprints to an existing Agile Test Plan.</p>
        <p>Remember to update your dashboard once you have added your new sprint.</p>
        <p>
            The new sprint will display at the top of your test plan, indicating that it is the
            current sprint. If you would like the a different sprint to display at the top of the
            dashboard, simply move that sprint to the top of the test plan.
        </p>
    </div>
</div>

{% endblock content %}