{% extends "ads_app/base.html" %}
{% block content%}
    <script>
        $(document).ready(function () {
            $(".navbar a").removeClass("active");
            //this will remove the active class from
            //previously active menu item

            $("a#home").addClass('active');
        });

        $(function() {
            $("#create_dash").submit(function(event) {
                // Stop form from submitting normally
                event.preventDefault();
                var create_dash = $(this);
                // Un-hide the Loading div
                document.getElementById("loading").hidden = false;
                // Disable Links and Submit button
                $("a#test").addClass('isDisabled');
                $("a#home").addClass('isDisabled');
                $("a#update").addClass('isDisabled');
                $("a#admin").addClass('isDisabled');
                document.getElementsByClassName("button")[0].disabled = true;
                // Submit Form
                document.forms['create_dash'].submit()
            });
        });

    </script>

    <div id="myModal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">x</span>
            <h1>Create Full Dashboard Help</h1>
            <p class="help-text">
                Below are details on the fields required for dashboard creation. A test plan must be <br>
                created before a dashboard is created.
            </p>
            <h2>Project Name</h2>
            <p>
                The project name must be a project on the PMO list.
            </p>
            <h2>MRS Requirements Tree</h2>
            <p>

            </p>
            <h2>Iteration Path</h2>
            <p>

            </p>
            <h2>Tag/Targeted Project</h2>
            <p>
                This field can be in found in a Bug work item under the Planning section. (SCREENSHOT)
            </p>
            <h2>Test Suite ID/Test Suite Name</h2>
            <p class="help-text">
                The Test Suite ID can be located from within the Test Plan. Navigate to the desired<br>
                test plan then select the suite with the same name as the test plan. On the right <br>
                will be the Suite ID. (SCREENSHOT)
            </p>
        </div>
    </div>

    <h1>Create Full Dashboard</h1>
    <form action="create_dash" method="POST" id="create_dash">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td><label for="folder_name">Enter the name for the new Project: *</label></td>
                <td></td>
                <td></td>
                <td><input type="text" name="folder_name" required="" id="folder_name" maxlength="32"></td>
            </tr>
            <tr>
                <td><label for="url">Enter the URL to the MRS requirements tree:</label></td>
                <td></td>
                <td></td>
                <td><input type="text" name="url" id="url" maxlength="250"></td>
            </tr>
            <tr>
                <td><label for="global_path">Enter the Global Reqs Iteration Path: *</label></td>
                <td></td>
                <td></td>
                <td><input type="text" name="global_path" required="" id="global_path" maxlength="250"></td>
            </tr>
            <tr>
                <td><label for="iteration_shortname">Enter the Tag or the Targeted Project: *</label></td>
                <td><input type="radio" name="target_choice" value="0" checked> Targeted Project</td>
                <td><input type="radio" name="target_choice" value="1"> Tag</td>
                <td><input type="text" name="iteration_shortname" required="" id="iteration_shortname" maxlength="250"></td>
            </tr>
            <tr>
                <td><label for="test_plan_name">Please enter the Test Suite ID or Name: *</label></td>
                <td><input type="radio" name="test_choice" value="0" checked> ID</td>
                <td><input type="radio" name="test_choice" value="1"> Name</td>
                <td><input type="text" name="test_plan_name" required="" id="test_plan_name" maxlength="250"></td>
            </tr>
        </table>
        <p><label>* Indicates field is required</label> </p>
        <button type="submit" class="button">SUBMIT</button>
    </form>
    <br>
    <div id="loading" hidden>
        <h1>Please wait...</h1>
        <div class="loader"></div>
    </div>

{% endblock content %}