{% extends "ads_app/base.html" %}
{% block content%}
    <script>
        $(document).ready(function () {
            $(".navbar a").removeClass("active");
            //this will remove the active class from
            //previously active menu item
            $("a#test").addClass('active');
        });

        $(function() {
             $("#project_type").change(function(){
                var value = $(this).val();

                if(value == "Agile"){
                    $("#waterfall_test_plan").hide();
                    $("#agile_test_plan").show();
                }
                else if(value == "Waterfall"){
                    $("#agile_test_plan").hide();
                    $("#waterfall_test_plan").show();
                }
            });
        });

        $(function() {
            $("#create_test").submit(function(event) {
                // Stop form from submitting normally
                event.preventDefault();
                var help_modal = document.getElementById("LoadingModal");
                var create_test = $(this);
                // Un-hide the Loading div
                document.getElementById("loading").hidden = false;
                // Disable Links and Submit button
                $("a#test").addClass('isDisabled');
                $("a#home").addClass('isDisabled');
                $("a#update").addClass('isDisabled');
                $("a#admin").addClass('isDisabled');
                document.getElementsByClassName("button")[0].disabled = true;
                // Submit Form
                help_modal.style.display = "block";
                document.forms['create_test'].submit()
            });
        });

    </script>


    <div class="main-left">
        <h1>Create Test Plan</h1>
        <p>Please rename or re-organize the generated Test Plan as you see fit.</p>
        <p>Do not include these characters in your test plan name: <strong>/\<>*?&"|:$#%+</strong></p>
        <form action="create_test" method="POST" id="create_test">
            {% csrf_token %}
            <select id="project_type" name="project_type">
                <option>Waterfall</option>
                <option>Agile</option>
            </select>
            <input list="project_list" name="project_list" maxlength="255" pattern='[^/\\<>*?&"|:$#%+]{1,255}' title='Max 255 characters, cannot include: ^/\<>*?&"|:$#%+' required>
            <datalist id="project_list">
                {% for item in pmo_list %}
                <option>{{ item }}</option>
                {% endfor %}
            </datalist>
            <button type="submit" class="button">SUBMIT</button>
            <div id="child_options">
                <p>Select the child suites you would like to add to your test plan:</p>
                <ul type="disc">
                    <li>
                        <label>New Feature</label>
                        <input type="checkbox" name="new_feature" checked="checked">
                    </li>
                    <li>
                        <label>Manual Regression</label>
                        <input type="checkbox" name="manual_regression" checked="checked">
                    </li>
                    <li>
                        <label>Automated Regression</label>
                        <input type="checkbox" name="automated_regression" checked="checked">
                    </li>
                    <li>
                        <label>Meter Farm</label>
                        <input type="checkbox" name="meter_farm" checked="checked">
                    </li>
                    <li>
                        <label>Garden</label>
                        <input type="checkbox" name="garden" checked="checked">
                    </li>
                    <li>
                        <label>SVE</label>
                        <input type="checkbox" name="sve" checked="checked">
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <br>
    <div id="LoadingModal" class="modal" style="">
        <div class="loading-modal-content">
            <div id="loading" hidden>
                <h1>Please wait...</h1>
                <br>
                <div class="loader"></div>
                <br>
                <p>Do not refresh the page. This process may take a few minutes.</p>
            </div>
        </div>
    </div>
    <div id="waterfall_test_plan" class="box">
        <h2>Example Test Plan Structure</h2>
        <ul type="disc">
            <li>Test Plan Name</li>
            <ul type="disc">
                <li>Early System Test</li>
                <ul type="circle">
                    <li>Alpha 1</li>
                    <li>Alpha 2</li>
                    <li>Alpha 3</li>
                    <li>Beta 1/Feature Complete</li>
                </ul>
                <li>System Test</li>
                <ul type="circle">
                    <li>Run 1</li>
                    <li>Run 2</li>
                    <li>Run 3</li>
                </ul>
                <li>Customer Solution Test</li>
                <ul type="circle">
                    <li>Run 1</li>
                    <li>Run 2</li>
                    <li>Run 3</li>
                </ul>
                <li>First Article Test</li>
                <ul type="circle">
                    <li>Product - Run 1</li>
                    <li>Product - Run 2</li>
                    <li>Product - Run 3</li>
                </ul>
            </ul>
        </ul>
        <p>Within each Alpha suite under Early System Test and within each Run suite under System Test,
            the following folders will be generated:</p>
        <ul type="circle">
            <li>New Features</li>
            <li>Manual Regression</li>
            <li>Automatic Regression</li>
        </ul>
        <p>Within each Run suite in Customer Solution Test, the following folders will be generated:</p>
        <ul type="circle">
            <li>Meter Farm Run</li>
            <li>Garden Run</li>
            <li>SVE Run</li>
        </ul>
    </div>

    <div id="agile_test_plan" class="box" style="display: none;">
        <h2>Example Agile Test Plan Structure</h2>
            <ul type="disc">
                <li>Test Plan Name</li>
                <ul type="disc">
                    <li>Sprints</li>
                    <ul type="circle">
                        <li>Sprint 1</li>
                        <ul type="circle">
                            <li>New Feature</li>
                            <li>Manual Regression</li>
                            <li>Automated Regression</li>
                            <li>Meter Farm</li>
                            <li>Garden</li>
                            <li>SVE</li>
                        </ul>
                    </ul>
                    <li>Final Product</li>
                    <ul type="disc">
                        <li>&lt;Device> Sprint <#></li>
                        <ul type="circle">
                            <li>E2E FAT Test Suites</li>
                            <li>FW FAT Test Suites </li>
                            <li>HW FAT test suite</li>
                            <li>Product Secure</li>
                        </ul>
                    </ul>
                </ul>
            </ul>
    </div>

    <div id="myModal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="help-modal-content help-paragraph">
            <span class="close">x</span>
            <h1>Create Test Plan Help</h1>
            <p>
                Use this page to create a test plan for a dashboard. A test plan must be created
                before a dashboard is created.
            </p>
            <h2>Test Plan Structure</h2>
            <p>This tool generates a test plan with the structure shown below. Any dashboard created
                using this tool relies on a test plan with this structure.</p>
            <ul type="disc">
                <li>Test Plan Name</li>
                <ul type="disc">
                    <li>Early System Test</li>
                    <ul type="circle">
                        <li>Alpha 1</li>
                        <li>Alpha 2</li>
                        <li>Alpha 3</li>
                        <li>Beta 1/Feature Complete</li>
                    </ul>
                    <li>System Test</li>
                    <ul type="circle">
                        <li>Run 1</li>
                        <li>Run 2</li>
                        <li>Run 3</li>
                    </ul>
                    <li>Customer Solution Test</li>
                    <ul type="circle">
                        <li>Run 1</li>
                        <li>Run 2</li>
                        <li>Run 3</li>
                    </ul>
                    <li>First Article Test</li>
                    <ul type="circle">
                        <li>Product - Run 1</li>
                        <li>Product - Run 2</li>
                        <li>Product - Run 3</li>
                    </ul>
                </ul>
            </ul>
            <p>Within each Alpha suite under Early System Test and within each Run suite under System Test,
                the following folders will be generated:</p>
            <ul type="circle">
                <li>New Features</li>
                <li>Manual Regression</li>
                <li>Automatic Regression</li>
            </ul>
            <p>Within each Run suite in Customer Solution Test, the following folders will be generated:</p>
            <ul type="circle">
                <li>Meter Farm Run</li>
                <li>Garden Run</li>
                <li>SVE Run</li>
            </ul>
        </div>
    </div>

{% endblock content %}