{% extends "ads_app/base.html" %}
{% block content%}
    <script>
        $(document).ready(function () {
            $(".navbar a").removeClass("active");
            //this will remove the active class from
            //previously active menu item

            $("a#test").addClass('active');
        });

        $(function() {
            $("#create_test").submit(function(event) {
                // Stop form from submitting normally
                event.preventDefault();
                var create_test = $(this);
                // Un-hide the Loading div
                document.getElementById("loading").hidden = false;
                // Disable Links and Submit button
                $("a#test").addClass('isDisabled');
                $("a#home").addClass('isDisabled');
                $("a#update").addClass('isDisabled');
                $("a#admin").addClass('isDisabled');
                document.getElementsByClassName("button")[0].disabled = true;
                // Submit Form
                document.forms['create_test'].submit()
            });
        });

    </script>

    <h1>Create Test Plan</h1>
    <form action="create_test" method="POST" id="create_test">
        {% csrf_token %}
        <input list="project_list" name="project_list" required>
            <datalist id="project_list">
                {% for item in pmo_list %}
                    <option>{{ item }}</option>
                {% endfor %}
            </datalist>
        <button type="submit" class="button">SUBMIT</button>
    </form>
    <br>
    <div id="loading" hidden>
        <h1>Please wait...</h1>
        <div class="loader"></div>
    </div>

    <div id="myModal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">x</span>
            <h1>Create Test Plan Help</h1>
            <p>
                The purpose of this tool is to automate the creation of dashboards within Azure DevOps.
            </p>
        </div>
    </div>

{% endblock content %}