{% extends "ads_app/base.html" %}
{% block content%}
    <script>
        $(document).ready(function () {
            $(".navbar a").removeClass("active");
            //this will remove the active class from
            //previously active menu item

            $("a#test").addClass('active');
        });
    </script>
    <div class="main">
        <h1>Create Test Plan</h1>
        <form action="create_dash" method="POST">
            <input list="project_list" name="project_list">
                <datalist id="project_list">
                    {% for item in pmo_list %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </datalist>
            <button type="submit" class="button">SUBMIT</button>
        </form>
    </div>
{% endblock content %}