{% extends "ads_app/base.html" %}
{% block content%}
{% load static %}
    <script>
            $(document).ready(function () {
                $(".navbar a").removeClass("active");
                //this will remove the active class from
                //previously active menu item
                $("a#test").addClass('isDisabled');
                $("a#home").addClass('isDisabled');
                $("a#update").addClass('isDisabled');
                $("a#agile_update").addClass('isDisabled');
                $("a#admin").addClass('isDisabled');
                document.getElementById("test_plan_name").value = Number(document.getElementById("test_plan_name").value) + 1;
            });


            function changeText() {
                var CheckBox = document.getElementById('ignore_first_row');
                var text = document.getElementById('row_status');
                if (CheckBox.checked) {
                    text.value = 'Excluding first 2 widget rows';
                } else {
                    text.value = 'Including first 2 widget rows';
                }
            }

            $(function() {
                $("#submit_update").submit(function(event) {
                    // Stop form from submitting normally
                    event.preventDefault();
                    //enables the name field for submission
                    $("input").prop('disabled', false);
                    var help_modal = document.getElementById("LoadingModal");
                    var create_dash = $(this);
                    // Un-hide the Loading div
                    document.getElementById("loading").hidden = false;
                    // Disable Submit button
                    document.getElementsByClassName("button")[0].disabled = true;
                    // Submit Form
                    help_modal.style.display = "block";
                    document.forms['submit_update'].submit()
                });
            });

        </script>

    <div id="myModal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="help-modal-content help-paragraph">
            <span class="close">x</span>
            <h1>Create Full Dashboard Help</h1>
            <p class="help-text">
                Below are details on the fields required for dashboard creation. A test plan must be
                created before a dashboard is created.
            </p>
            <h2>Project Name</h2>
            <p>
                The project name must be a project on the PMO list.
            </p>
            <h2>MRS Requirements Tree</h2>
            <p>
            </p>
            <h2>Targeted Project</h2>
            <p>
                This field can be in found in a Bug work item under the Planning section.
            </p>
            <img src="{% static 'ADS_Dash screenshots/Targeted Project.PNG' %}" alt="itron">
            <h2>Project Tag and Iteration Path</h2>
            <p>The project tag can be found in a bug work item for the desired project. Following the
                example below, the PEA project tag is the tag that references PEA. The project iteration
                path can be found below the area path within a test case or bug work item.
            </p>
            <img src="{% static 'ADS_Dash screenshots/Project tag + iteration path.PNG' %}" alt="itron">
            <h2>Test Suite ID/Test Suite Name</h2>
            <p class="help-text">
                The Test Suite ID can be located from within the Test Plan. Navigate to the desired
                test plan then select the suite with the same name as the test plan. Next to the title
                will be the Suite ID.
            </p>
            <img src="{% static 'ADS_Dash screenshots/Test Suite ID underlined.PNG' %}" alt="itron">

        </div>
    </div>

    {% for item in json %}
    <h1>Update {{ item.folderName }} Dashboard</h1>
    {% endfor %}
    <h4>You can submit an update without making any changes</h4>
    <form action="submit_update" method="POST" id="submit_update">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td>
                    <label for="folder_name">Project dashboard name: <br/>
                    <small>(Max 32 characters, cannot not include: <strong>/\<>*?&"|:</strong>)</small></label>
                </td>
                <td></td>
                <td></td>
                {% for item in json %}
                {% if item.folderName %}
                    <td><input type="text" name="folder_name" value="{{ item.folderName }}" required="" id="folder_name" maxlength="32" disabled></td>
                {% else %}
                    <td><input type="text" name="folder_name" required="" id="folder_name" maxlength="32" disabled></td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td><label for="url">Edit the URL to the MRS requirements tree:</label></td>
                <td></td>
                <td></td>
                {% for item in json %}
                {% if item.url %}
                    <td><input type="url" name="url" id="url" value="{{ item.url }}" maxlength="250"></td>
                {% else %}
                    <td><input type="url" name="url" id="url" value="{{ item.url }}" maxlength="250"></td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td><label for="global_path">Edit the Global Reqs Iteration Path. Enter "N/A" if not applicable: *</label></td>
                <td></td>
                <td></td>
                {% for item in json %}
                {% if item.global_path %}
                    <td><input type="text" name="global_path" value="{{ item.global_path }}" required="" id="global_path" pattern="[^$?:#%|+]{1,255}" maxlength="255" title = "Max 255 characters, cannot contain: $?:#%|+"></td>
                {% else %}
                    <td><input type="text" name="global_path" value="{{ item.global_path }}" required="" id="global_path" pattern="[^$?:#%|+]{1,255}" maxlength="255" title = "Max 255 characters, cannot contain: $?:#%|+"></td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td><label for="short_name">Edit the Tag or the Targeted Project: *</label></td>
                {% if target_choice %}
                    {% if item.target_choice == '0' %}
                        <td><input type="radio" name="target_choice" value="0" checked> Targeted Project</td>
                        <td><input type="radio" name="target_choice" value="1"> Tag</td>
                    {% else %}
                        <td><input type="radio" name="target_choice" value="0" > Targeted Project</td>
                        <td><input type="radio" name="target_choice" value="1" checked> Tag</td>
                    {% endif %}
                {% else %}
                    <td><input type="radio" name="target_choice" value="0" checked> Targeted Project</td>
                    <td><input type="radio" name="target_choice" value="1"> Tag</td>
                {% endif %}
                {% for item in json %}
                    {% if item.short_name %}
                        <td><input type="text" name="short_name" value="{{ item.short_name }}" required="" id="short_name" maxlength="250"></td>
                    {% else %}
                        <td><input type="text" name="short_name" value="{{ item.short_name }}" required="" id="short_name" maxlength="250"></td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td><label for="test_plan_name">Edit the Test Suite ID or Name: *</label></td>
                {% if item.test_choice %}
                    {% if item.test_choice == '0' %}
                        <td><input type="radio" name="test_choice" value="0" checked> ID</td>
                        <td><input type="radio" name="test_choice" value="1"> Name</td>
                    {% else %}
                        <td><input type="radio" name="test_choice" value="0"> ID</td>
                        <td><input type="radio" name="test_choice" value="1" checked> Name</td>
                    {% endif %}
                {% else %}
                    <td><input type="radio" name="test_choice" value="0" checked> ID</td>
                    <td><input type="radio" name="test_choice" value="1"> Name</td>
                {% endif %}

                {% if item.test_plan_name %}
                    <td><input type="text" name="test_plan_name" value="{{ test_plan_name }}" required="" id="test_plan_name" maxlength="250"></td>
                {% else %}
                {% for item in json %}
                    <td><input type="text" name="test_plan_name" value="{{ item.testPlan }}" required="" id="test_plan_name" maxlength="250"></td>
                {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td><small>Exclude first 2 widget rows from update. This will save any custom widgets</small></td>
                <td><input type="checkbox" name="ignore_first_row" id="ignore_first_row" onclick="changeText()" checked="checked"></td>
                <td></td>
                <td><input type="text" id="row_status" value="Excluding first 2 widget rows" name="" disabled></td>
            </tr>
        </table>
        <p><label>* Indicates field is required</label> </p>
        <button type="submit" class="button">SUBMIT</button>
    </form>
    <form action="update">
        <button type="submit" class="button">CANCEL</button>
    </form>
    <br>
    <div id="LoadingModal" class="modal" style="">
        <div class="loading-modal-content">
            <div id="loading" hidden>
                <h1>Please wait...</h1>
                <br>
                <div class="loader"></div>
                <br>
                <p>Do not refresh the page. This process may take a few minutes.</p>
            </div>
        </div>
    </div>

{% endblock content %}