{% extends "ads_app/base.html" %}
{% block content%}

    <h1>Register Form</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> Sign up </legend>
                    {{ form }}
            </fieldset>
            <button type="submit" class="button">SUBMIT</button>
        </form>
        <div>
            <small>
                Already Have and Account? <a href="#"> Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}